{% extends 'menu/base.html' %}

{% block title %}
    {{ name }}
{% endblock title %}

{% block loads %}
    {% load tags %}
{% endblock loads %}

{% block content %}
    <div class='menus'>
        {% for menu in menu_list %}
            <div class='menu'>
                {% draw_menu menu %}
            </div>
        {% endfor %}

        {% for menu in other_menus %}
            <div class='menu'>
                {% draw_index_menu menu %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}